:root {
  --brand-color: #2196f3;
  --main-color: #000000;
  --second-main-color: #ffffff;
  --secondary-color: #212121;
  --contacts-color-header: #757575;
  --contacts-color-footer: #ffffff99;
  --background-color-main: #2f303a;
  --background-color-second: #ffffff;
  --background-color-third: #f5f4fa;
  --border-block-portfolio-page: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Logo Header */
.logo-header {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-header:focus,
.logo-header:hover {
  text-decoration: underline var(--brand-color);
}
.web-header {
  color: var(--brand-color);
}
.studio-header {
  color: var(--main-color);
}
/* End of Logo Header */

/* Header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header {
  background-color: var(--background-color-second);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
  margin-right: 331px;
}

.header-list a {
  color: var(--secondary-color);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header-list li:not(:last-child) {
  margin-right: 50px;
}

.header-list a:hover,
.header-list a:focus {
  color: var(--brand-color);
}
.header-list .current {
  color: var(--brand-color);
}

.header-contatcs-list a {
  color: var(--contacts-color-header);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contatcs-list a:hover,
.header-contatcs-list a:focus {
  color: var(--brand-color);
}
.header-contatcs-list a:not(:last-child) {
  margin-right: 50px;
}
/* End of Header */

/* Hero Section */
.hero-section {
  background-color: var(--background-color-main);
}
.hero-header {
  color: var(--background-color-second);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--second-main-color);
  background-color: var(--brand-color);
  cursor: pointer;
  border: 4px solid var(--brand-color);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  border: 4px solid var(--brand-color);
  border-radius: unset;
}

/* Features & Our Work */
.second-backgroun-color {
  background-color: var(--background-color-second);
}
.features {
  display: none;
}

.features-header {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-paragraph {
  color: var(--contacts-color-header);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.our-work {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* End of Features & Our Work */

/* Our Team*/
.our-team-section {
  background-color: var(--background-color-third);
}
.our-team-header {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list-item-header {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list-item-paragraph {
  color: var(--contacts-color-header);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* End of Team */

/* Logo Footer */
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-footer:focus,
.logo-footer:hover {
  text-decoration: underline var(--brand-color);
}
.web-footer {
  color: var(--brand-color);
}
.studio-footer {
  color: var(--second-main-color);
}
/* End of Logo Footer */

/* Footer */
.background-color-footer {
  background-color: var(--background-color-main);
}
.address {
  color: var(--second-main-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-mail-tel {
  color: var(--contacts-color-footer);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-mail-tel:hover,
.contacts-mail-tel:focus {
  color: var(--brand-color);
}

/* Portfolio Page */
.main-section {
  background-color: var(--background-color-second);
}

/* Buttons */
.filter-buttons {
  color: var(--secondary-color);
  background-color: var(--background-color-third);
  cursor: pointer;
  border: 1px solid var(--background-color-third);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter-buttons:focus,
.filter-buttons:hover {
  color: var(--second-main-color);
  background-color: var(--brand-color);
}
.filter-list .current-button {
  color: var(--second-main-color);
  background-color: var(--brand-color);
}
/* End of Buttons */

/* Blocks */
.block {
  width: 370px;
  border: 1px solid var(--border-block-portfolio-page);
}
.block-header {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.block-paragraph {
  color: var(--contacts-color-header);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* End of Blocks */
